
body {
  font-size: 14px;
}

.page {
  width: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  top: 0px;
  left: 0px;
  
}

input:focus { 
  outline:none;
  border-color:#9ecaed;
  box-shadow:0 0 10px #ffea08;
}

input:hover{
  outline:none;
  border-color:#9ecaed;
  box-shadow:0 0 10px #ffea08;
}

.navbar {
  width: 100%;
  height: 60px;
  background: rgba(171,150,255,1);
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.Title {
  grid-column: 0;
  margin: 0.7rem;
  margin-left: 5rem;
  grid-row: 0;
  position: sticky;
  color: rgba(0,0,0,1);
  font-size: 35px;
}

.SearchBox {
  width: 34%;
  height:35px;
  color: rgba(161,156,156,1);
  position: absolute;
  border-radius: 20px;
  border:none;
  padding-left: 50px;
  top: 10px;
  left: 16%;
  font-family: Sanchez;
  font-weight: Regular;
  font-size: 20px;
  opacity: 0.9;
  text-align: left;
}


.QuestionButton {
  width: 13%;
  height:35px;
  color: rgba(161,156,156,1);
  border:none;
  border-radius:20px;
  position: absolute;
  top: 11px;
  left: 54%;
  text-align: center;
  font-family: Sanchez;
  font-weight: Regular;
  font-size: 18px;
  align-self:center;
  padding: 6px;
}

#questionicon{
  float: right;
  align-self: center;
  margin-right: 12px;
}

#questionicon{
  float: right;
  align-self: center;
  margin-right: 12px;
}

.QuestionButton:hover{
  background-color: rgb(148, 148, 171);
  color: rgb(247, 242, 242);
}

#useremail {
  background-color: #fff;
  width: 18rem;
  height: 1.2rem;
  padding: 50px, 10px;
  color: rgb(2, 2, 2);
  position: absolute;
  top: 5px;
  right:12%;
  font-size: 15px;
  text-align: center;
  border-radius: 20px;
}

p.Documentid{
  display: none;
}

.LogoutButton{
  background-color: #fff;
  width: 8%;
  height:35px;
  border:none;
  color: rgb(2, 2, 2);
  position: absolute;
  top: 11px;
  right:2%;
  font-size: 25px;
  text-align: center;
  border-radius: 30px;
}

.LogoutButton:hover{
  background-color: rgb(148, 148, 171);
  color: rgb(247, 242, 242);
}

.rightbar{
  width: 20%;
  height: 80%;
  border-radius: 30px;
  background: rgb(211, 224, 211);
  position: fixed;
  right:15px;
  top:70px;
  align-items: center;
}

.FeedbackTitle{
  font-size: 32px;
  position: absolute;
  width: 80%;
  height:120px;
  color: rgb(4, 4, 4);
  background-color: #fff;
  border-radius: 20px;
  border:none;
  padding:10px;
  top: 0px;
  left: 7%;
}

.FeedbackEmail{
  font-size: 15px;
  position: absolute;
  width: 80%;
  height:15px;
  padding: 10px;
  color: rgb(4, 4, 4);
  background-color: #fff;
  border-radius: 20px;
  border:none;
  top: 31%;
  left: 8%;
}

.FeedbackText{
  font-size: 15px;
  text-align: left;
  position: absolute;
  width: 80%;
  height:250px;
  color: rgb(4, 4, 4);
  background-color: #fff;
  border-radius: 20px;
  border:none;
  padding:10px;
  top: 39%;
  left: 8%;
}

.SubmitFeeback{
  font-size: 15px;
  position: absolute;
  width: 55%;
  height: 30px;
  color: rgb(4, 4, 4);
  background-color: #fff;
  border-radius: 20px;
  border:none;
  padding:5px;
  bottom:7%;
  left:22.5%;
  text-align: center;
}

.SubmitFeeback:hover{
  background-color: rgb(148, 148, 171);
  color: rgb(247, 242, 242);
}

.Footer{
  width: 100%;
  height: 10%;
  background-image: linear-gradient(to top, #AB96FF 7%, #ffffff 95%);
  position: fixed;
  left:0px;
  bottom:0px;
  align-items: center;
  display: flex;
}

.SubscribeText{
  font-size: 25px;
  margin-left: 4%;
  position: absolute;
  bottom:-10px; 
}

.SubscribeEmail{
  width: 25%;
  height:25px;
  color: rgba(161,156,156,1);
  position: absolute;
  border-radius: 20px;
  border:none;
  padding-left: 50px;
  margin-left: 42%;
  font-size: 15px;
  text-align: left;
  bottom:15px; 
}

.SubmitSubscription{
  width: 12%;
  height:25px;
  color: rgba(161,156,156,1);
  position: absolute;
  border-radius: 20px;
  border:none;
  font-size: 15px;
  right:15%;
  text-align: center;
  bottom:15px;
}

.SubmitSubscription:hover{
  background-color: rgb(148, 148, 171);
  color: rgb(247, 242, 242);
}

#MainSection{
  width: 75%;
  height: 75%;
  border-radius: 10px;
  position: fixed;
  left:5px;
  padding: 20px;
  top:70px;
  bottom:12%;
  align-items: center;
  overflow-x: hidden;
  overflow-y:scroll;
}

.MainSectionDiv::-webkit-scrollbar{
  display: none;
}

.Box
{
  padding: 10px;
  padding-left: 30px;
  border-radius: 20px;
  width: 70rem;
  height: 44%;
  border:1px solid rgb(8, 7, 7);
  margin-bottom: 30px;;
}

#profile{
  background-color: rgba(123, 137, 139, 0.412);
  width:auto;
  max-width: 300px;
  height:auto;
  text-align: left;
  padding-left: 20px;
  border-radius: 30px;
  font-size: 20px;
}

.profileemail{
  align-self: center;
}

#QuestionBox{
  background-color: darkgray;
  height:59%;
  padding-left: 20px;
  padding-top: 0.1px;
  border-radius: 10px;
}

.QuestionTitle{
  font-size: 25px;
}

.QuestionDescription{
  overflow: scroll;
}

.QuestionDescription::-webkit-scrollbar{
  display: none;
}

#BoxBottom{
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
}

#Counter{
  text-align: center;
}
.Counter{
  background-color: darkgray;
  text-align: center;
  height: auto;
  width: 30px;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 0px;
  padding: 4.5px;
  align-items: center;
  border-radius: 9px;
}

.vote, .vote2, .vote1{
  width: 30px;
  height: 30px;
  margin-left: 15px;
}

#AnswerBox{
  height:30px;
  margin-left: 50px;
  width: 58%;
  border-radius: 20px;
  padding-left: 20px;
  border-color: #AB96FF;
  border-style:double;
}

#AnswerBox:focus { 
  outline:none;
  border-color:#9ecaed;
  box-shadow:0 0 10px #AB96FF;
}

#AnswerBox:hover{
  outline:none;
  border-color:#9ecaed;
  box-shadow:0 0 10px #AB96FF;
}


.AnswerButton{
  background-color: rgba(204, 228, 222, 0.196);
  border-color: #AB96FF;
  width: 100px;
  height:30px;
  color: rgb(2, 2, 2);
  right:2%;
  font-size: 15px;
  text-align: center;
  border-radius: 30px;
  margin-left: 20px;;
}

.Date{
  margin-left: 20px;
}

