
*{
  margin:0;
  padding:0;
}


body{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to top, #75CDFF 7%, #FFFFFF 32%);
  display:grid;
  grid-template-columns: repeat(3,5fr);
}

#TitleBox{
    grid-column: 0;
    margin: 1rem;
    grid-row: 0;
}

#title{
    align-self: center;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: capitalize; 
}

#subtitle{
    margin-top: 10px;
    align-self: center;
    font-weight:400;
    font-size: 1rem;
    color:gray;
}

#LeftImage{
    width:160%;
    height:85vh;
    border: none;
}

#ContentBox{
    margin-top:80px;
    margin-right: 130px;
    grid-row: 1;
    grid-column: 3;
    flex-direction: column;
    gap: 1rem;
}

#Heading{
    margin-bottom: 10px;
    align-self: center;
    font-weight: 700;
    font-size: 3rem;
    text-transform: capitalize; 
}
  
#Email{
    margin-top:40px;
    align-self: center;
    font-weight:400;
    font-size: 1.5rem;
    color:gray;
}

#Password{
    margin-top:25px;
    align-self: center;
    font-weight:400;
    font-size: 1.5rem;
    color:gray;
}

#action{
    align-self: center;
    text-align: center;;
}

.Button{
    align-self:center;
    margin-top:30px;
    width: 100%;
    height: 30px;
    background:rgba(92, 115, 232, 0.686);
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    border: none;
}

.Button:hover {
    background-color: rgb(28, 25, 228);
}


#OR{
    margin:20px;
}

#Google_Login{
    align-self:center;
    text-align:center;
    width: 100%;
    height: 42px;
    background:rgba(224, 225, 230, 0.892);
    border-radius: 5px;
    color: rgb(18, 17, 17);
    font-size: 1.2rem;
    border-width: 1px;   
}

#Google_Login:hover {
    background-color: rgba(83, 91, 92, 0.749);
}

#googleicon{
    float:left;
    margin-left:150px;
}

#googletext{
    float:left;
    margin-top: 1.5px;
    margin-left:20px
}

.emailentry{
    background-color: antiquewhite;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin-top:10px;
    height: 40px;
    width: 500px;
    padding-left:12px;
}

.passwordentry{
    background-color: antiquewhite;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin-top:10px;
    height: 40px;
    width: 500px;
    padding-left:12px;
}

